body {
  background-color: #000000;
  font-family: 'Consolas', 'Courier New', monospace;
}

#title {
    text-align: center;
}

.thingamajig {
  padding-left: 20px;
}

#intro {
  text-align: center;
}

.things_i_like {
  border: 10px double;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}

.things_i_like img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.image-container img, iframe {
  height: 250px;
  width: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/CRT.png') repeat center center;
    background-size: 100%;
    opacity: 0.3;
    pointer-events: none;
    z-index: 1000;
}

#canv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#pfp {
    user-select: none;
}

#confettiGif {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
  z-index: 1001;
}

.notice {
  text-align: center;
}

.title_mobile {
  display: none;
}

@media (max-width: 768px) {
  .title_desktop {
      display: none;
  }

  .title_mobile {
      display: block;
      font-size: 8%;
  }
}
